@font-face {
  font-family: pala;
  src: url('../fonts/pala.ttf');
}
@font-face {
  font-family: pala-italic;
  src: url('../fonts/palai.ttf');
}
@font-face {
  font-family: pala-bold;
  src: url('../fonts/palab.ttf');
}
@font-face {
  font-family: pala-bold-italic;
  src: url('../fonts/palabi.ttf');
}
body {
  font-family: pala;
  color: #515151;
  background-color: bisque;
}
button {
  border: none;
  background: unset;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
ul {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
h1 {
  font-family: pala-bold;
}
p {
  font-size: 14px;
}
.btn-blue {
  color: #fff;
  background-color: #4264a9;
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px 100px;
  font-size: 22px;
}
header {
  display: flex;
  position: relative;
  align-items: center;
  height: 110px;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
}
header nav {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 0px;
  background: rgba(255, 255, 255, 0.65);
  overflow-y: hidden;
  transition: 0.5s;
}
header nav ul {
  display: inline-flex;
}
header nav ul li {
  padding: 3px 10px;
}
header nav ul li a {
  font-family: pala-bold;
  text-transform: uppercase;
  color: #515151;
}
header nav ul li a:hover {
  color: #242424;
}
header nav.ativo {
  height: 40px;
  bottom: -40px;
}
header ul.user-menu {
  display: flex;
}
header button.btn-menu {
  display: grid;
  justify-content: center;
  gap: 3px;
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  border: 1px solid #707070;
}
header button.btn-menu div {
  width: 20px;
  height: 2px;
  display: block;
  background-color: #4264a9;
  transition: 0.3s;
}
header button.btn-menu:hover div:nth-child(2) {
  transform: scale(0.5);
}
header ul.user-menu li a img {
  height: 20px;
  margin: 5px;
}
section.get-now h1 {
  margin-bottom: 50px;
}
section.get-now .btn-blue {
  font-size: 19px;
}
section.benefits img {
  height: 70px;
  margin-bottom: 20px;
}
section.benefits p {
  font-size: 16px;
}
section.our-product .benefits img {
  height: 50px;
  margin-bottom: 15px;
}
section.our-product .benefits p {
  font-size: 11px;
}
section.our-product .product-details {
  position: relative;
}
section.our-product .product-details button {
  margin-left: 250px;
  background-color: #e1d3c2;
}
section.our-product .product-details .detail {
  position: absolute;
  display: grid;
  justify-items: right;
}
section.our-product .product-details .detail p {
  font-size: 12px;
  margin-bottom: 0;
}
section.our-product .product-details .detail-1 {
  left: calc(20% - 250px);
  top: 68%;
}
section.our-product .product-details .detail-2 {
  left: calc(45% - 250px);;
  top: 15%;
}
section.our-product .product-details .detail-3 {
  left: calc(70% - 250px);;
  top: 50%;
}
section.our-product .product-details .detail-4 {
  left: calc(84% - 250px);
  top: 77%;
}
section.our-product .product-details .details-content {
  background-color: #e1d3c2;
  padding: 10px;
  display: none;
  width: 250px;
}
section.our-product .product-details .detail.ativo .details-content {
  display: block;
}
section.gallery-video .product-videos img {
  height: 240px;
  width: 100%;
}
section.gallery-video .product-gallery img {
  padding: 10px;
}
section.gallery-video .btn-blue {
  margin: 50px 0px;
}
section.newsletter form {
  display: flex;
}
section.newsletter form input {
  padding: 10px 50px;
  border: none;
}
section.newsletter form .btn-blue {
  font-size: 16px;
  padding: 10px 50px;
}
section.spotlight img {
  height: 350px;
  width: 100%;
}
section.extra-information {
  padding: 30px 0px;
  background-color: #e1d3c2;
}
section.extra-information div:nth-child(2) {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
section.extra-information p {
  font-size: 18px;
  margin-bottom: 0px;
}
section.extra-information img {
  margin-right: 10px;
  width: 30px;
}
footer {
  background: rgba(255, 255, 255, 0.65);
}
footer .box-blue {
  padding: 25px;
  color: #fff;
  background-color: #4264a9;
}
footer .box-blue p {
  font-size: 12px;
}
footer a {
  color: #515151;
}
footer a:hover {
  color: #242424;
}
footer h6 {
  color: #4264a9;
  margin-bottom: 15px;
}
footer li {
  margin-bottom: 15px;
  font-size: 12px;
}
@media screen and (max-width: 1199px) {
  section.spotlight img {
    height: 310px;
  }
  section.gallery-video .product-gallery img {
    padding: 0px;
  }
}
@media screen and (max-width: 991px) {
  section.newsletter {
    text-align: center;
  }
  section.spotlight img {
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  section.our-history {
    text-align: center;
  }
}